html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    scroll-behavior: smooth;
    color: #efe;
    max-width: 90vw;
    background: fixed center no-repeat url(https://f2.toyhou.se/file/f2-toyhou-se/images/89221887_IWUx3jVDk9DDCJp.png);
    background-size: cover;
    /* overflow: hidden; */
    font-size: 5vw;
    font-family: monospace;
}

header {
    font-size: 5.5vw;
    font-family: monospace;
    color: #f06;
}

header, .frame {
    background: linear-gradient(#0993, #0237, #f036);
    border-radius: 6px;
    box-shadow: 1vw 2vw 3vw #0008;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ccc;
    outline-offset: 2px;
    padding: 4% 1% 4% 3%;
    margin: 10% 0px 10% 20px;
}

.oc {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.credit{
    background-color: #3e0025;
    color: #ff70a8;
    margin: 4px;
    padding: 5px;
    border-radius: 8px;
}

#profile-basic-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.oc:hover {
    background: #3e0025;
}
