html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    scroll-behavior: smooth;
    color: #fde;
    max-width: 90vw;
    background: fixed center no-repeat url(https://f2.toyhou.se/file/f2-toyhou-se/images/89221887_IWUx3jVDk9DDCJp.png);
    background-size: cover;
    /* overflow: hidden; */
    font-size: 1.6vw;
    font-family: monospace;
}

header, .frame {
    background: linear-gradient(#0993, #0237, #f036);
    border-radius: 6px;
    box-shadow: 1vw 2vw 3vw #0008;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #ccc;
    outline-offset: 2px;
    padding: 2vw 1vw 2vw 3vw;
    margin: 2vw 2vw 10vw 2vw;
}

.title {
    font-size: 4vw;
    font-family: monospace;
    color: #f06;
    background: linear-gradient(90deg, #0002, #0000);
    background-size: cover;

    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.oc {
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

#profile-basic-info {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.oc:hover {
    background: #3e0025;
}

.credit{
    background-color: #3e0025;
    color: #ff70a8;
    margin: 1vw;
    padding: .3vw;
    border-radius: 8px;
}
